@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/app/css/ketoHomeHeader.css';
@import '@/app/css/ketoCalculator.css';
@import '@/app/css/auth.css';
/* html,
body {
    width: 1720px;
    margin: 0 auto;
    overflow-x: hidden;
}
@media screen and (max-width: 1720px) {
    .mobile-hide {
        display: none;
    }
} */

body {
    max-width: 100%;
    overflow-x: hidden;
}




.homeCertification {
    padding-top: 50px;
    /* min-height: 80vh; */
}

.homeCertificationSliderContent {
    min-height: 70vh;
    width: 94.5vw;
    margin: auto;
    cursor: pointer;
    /* padding-top: 30px; */

}


div.slick-slider .slick-dots li button:before {
    color: #0069D9;
}

div.slick-slider .slick-prev,
div.slick-slider .slick-next {
    margin-top: -12px;
    height: 97.5vh;
    width: 40px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.356);
    color: #0069D9 !important;
    z-index: 1;
}

div.slick-slider .slick-prev {
    margin-left: 25px
}

div.slick-slider .slick-next {
    margin-right: 25px;
}

div.slick-slider .slick-prev:hover,
div.slick-slider .slick-next:hover {

    margin-top: -12px;
    height: 97.2vh;
    width: 40px;
    background-color: #0069D9;
    /* background-color: ; */
    color: #0069D9 !important;
}





div.tabs>* {
    @apply bg-gray-300 text-gray-700 rounded-full py-2 px-4;
}

div.tabs>*.active {
    @apply bg-blue-500 text-white;
}











/* styles/Carousel.module.css */

/* .carousel {
    margin-top: 20px;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.slide {
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
} */




/* styles/Carousel.module.css */
/* styles/Carousel.module.css */

.carousel {
    position: relative;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

.slide {
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
}

.prevButton,
.nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 40px
}

.prevButton {
    left: -50px;
}

.nextButton {
    right: -50px;
}


/* Tailwind styles for responsiveness */
@media (min-width: 768px) {
    .carousel {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .carousel {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .carousel {
        max-width: 1200px;
    }
}